<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.5/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <template v-for="lesson in lessons" v-bind:key="lesson.id">
            <div v-if="lesson.isSell">
                {{lesson}}
            </div>
        </template>

    </div>
    <script>
        // 在vue3中的改进方法就是在外面套一层template
        // 在template上面执行v-for
        const app = Vue.createApp({
            data() {
                return {
                    lessons: [{
                        id: 1,
                        name: 'html',
                        isSell: false,
                        price: 100
                    }, {
                        id: 2,
                        name: 'css',
                        isSell: true,
                        price: 33
                    }, {
                        id: 3,
                        name: 'js',
                        isSell: true,
                        price: 45
                    }, {
                        id: 4,
                        name: 'nodejs',
                        isSell: false,
                        price: 89
                    }, ]
                }

            },

        })

        app.mount('#app')
    </script>
</body>

</html>