<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" v-model='title'>
    <input type="text" v-model='title'>
    <h4 v-bind='title'>这里也会发生更新</h4>
    <script>
        function View() {
            // 先创建一个代理来存储数据
            let proxy = new Proxy({}, {
                get(obj, property) {},
                set(obj, property, value) {
                    console.log('proxy-set', value) // 这个value是给代理对象添加新属性和新属性值的那个值
                }
            });
            // 绑定事件，需要达到一个文本框的数据变化，其他的文本框或者标签内容也要跟着变化
            // 则需要有一个函数来检测文本框的动作
            this.init = function() {
                const els = document.querySelectorAll('[v-model]');
                els.forEach(item => {
                    item.addEventListener('keyup', function() {
                        console.log(1)
                        console.log(this.value) // 这个value就是文本输入框的内容
                        console.log(this.getAttribute('v-model')) // 获得title，并让其成为proxy新增属性的属性名
                        console.log(this) // 文本框的标签对象

                        proxy[this.getAttribute('v-model')] = this.value; // 这一步就是第一步，使文本框的操作可以触发代理，也就是触发那个共同容器
                    })
                })
            }
        }
        new View().init()
    </script>
</body>

</html>